body {
  margin: 0;
  background-color: #1a1a1a;
  color: #ffffffdd;
  position: relative;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
}

.card {
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.6);
}
#btn {
  position: absolute;
  top: 690px;
  left: 16px;
  z-index: 99;
}
.card-content {
  position: absolute;
  left: 0;
  top: 0;
  color: #ffffffdd;
  padding-left: 16px;
}
.content-place {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
}
.content-place {
  font-weight: 500;
}
.content-title-1,
.content-title-2 {
  font-weight: 600;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
.content-start {
  width: 30px;
  height: 5px;
  border-radius: 99px;
  background-color: #ffffffdd;
}

.indicator {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 5px;
  z-index: 60;
  background-color: #ecad29;
}